{% extends "layouts/app.html.twig" %}

{% block content %}
	<div class="panel">
		<p class="mbe-4">You are currently logged in.</p>
		<p><a href="/admin/logout" class="button button--theme-1">Logout</a></p>
	</div>
{% endblock %}