{% extends "layouts/base.html.twig" %}

{% block content %}
<main class="section" style="background-color:var(--color_theme_2);">
	<div class="container">
		{% if error_message %}
			<div class="block">
				<div class="box box--alert">{{ error_message }}</div>
			</div>
		{% elseif info_message %}
			<div class="block">
				<div class="box box--info">{{ info_message }}</div>
			</div>
		{% else %}
			<div class="block">
				<form method="post" class="grid" autocomplete="off">
					<div class="field">
						<label for="email">Email</label>
						<div class="control">
							<input type="email" id="email" name="email" value="{{ email }}" required>
						</div>
					</div>
					<div class="field">
						<button type="submit" class="button">Confirm</button>
					</div>
				</form>
			</div>
		{% endif %}
	</main>
</div>
{% endblock %}