{% extends "layouts/app.html.twig" %}

{% block content %}
	<div class="panel">
		<p class="mbe-4">Edit page ID: {{ page.page_id }}</p>
		<p><a href="/admin/pages" class="button button--theme-1">Back to Pages</a></p>
	</div>
{% endblock %}