{% extends "layouts/base.html.twig" %}

{% block content %}
<main class="section" style="background-color:var(--color_theme_2);">
	<div class="container">
		{% if error_message %}
			<div class="block">
				<div class="box box--alert">{{ error_message }}</div>
			</div>
		{% else %}
			<div class="block">
				<form method="post" class="grid" autocomplete="off">
					<input type="hidden" name="token" value="{{ token }}">
					<div class="field">
						<label for="password">New Password</label>
						<div class="control">
							<input type="password" id="password" name="password" required>
						</div>
					</div>
					<div class="field">
						<label for="password">Confirm Password</label>
						<div class="control">
							<input type="password" id="password-confirm" name="confirm_password" required>
						</div>
					</div>
					<div class="field">
						<button type="submit" class="button">Reset Password</button>
					</div>
				</form>
			</div>
		{% endif %}
	</main>
</div>
{% endblock %}